.header__logo{
  font-family: 'PT Serif', serif;
}
.navigation{
  font-family: 'Roboto', sans-serif;
}
.main__title{
  font-family: 'PT Serif', serif;
}
.main__text{
  font-family: 'Roboto', sans-serif;
}
.main__button{
  font-family: 'Roboto', sans-serif;
}